.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap:10px;
  column-gap:0;
}

.orderStation {
grid-column:4/1;
}

.header, .crape1, .crape2, .crape3, .crape4, .crape5 {
grid-column: 1 / 4;
background-color: #C3D4E3;
}

.addOn1, .addOn2, .addon3 {
grid-column: 1 / 1;
background-color:pink;
}

.container div {
  padding: 15px;
}


