body {
background-color:#c19a6b
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap:10px;
  column-gap:0;
}

.header, .crape1, .crape2, .crape3, .crape4, .crape5 {
grid-column: 1 / 4;
border: 2px solid 	#9A7B56;
border-radius: 12px;
}

.addOn1,.addOn2,.addOn3{
border: 2px solid 	#9A7B56;
border-radius: 12px;
}

.orderStation{
border: 2px solid 	#9A7B56;
border-radius: 12px;
}

.container div {
padding: 15px;
background-color: #c19a6b;
}

.orderStation {
grid-column: 4 / span 5;
grid-row-start: 1;
grid-row-end: 9;
position: sticky;
top: 20px;
}

button{
  background:#c19a6b;
  color:black;
  border-radius: 12px;
}

button:hover{
  background-color:#d4b897;
}

.crape1, .crape2, .crape3,.crape4,.crape5, .addOn1, .addOn2, .addOn3{
  transition: transform 0.3s ease;
}

.crape1:hover,.crape2:hover, .crape3:hover,.crape4:hover,.crape5:hover,.addOn1:hover, .addOn2:hover, .addOn3:hover {
  transform: scale(1.01); 
}


